<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- USER     DB接続文字列 ※TOUSERSINFOテーブル用 -->
    <!--<add key="USER_ConnectionString"     value="User Id=rris_synonym_toukei;Password=rris1;Data Source=VM_SSH_RRIS" />-->
    <add key="USER_ConnectionString"     value="User Id=krhif;Password=krhif1;Data Source=VM_SSH_RRIS" />
    <!-- MRMS     DB接続文字列 -->
    <add key="MRMS_ConnectionString"     value="User Id=mrms;Password=mrms1;Data Source=VM_SSH_MRMS" />

    <!-- ログフォルダ保持期間（日数）※最小値「1」標準値「7」 -->
    <add key="LogKeepDays" value="7" />
    <!-- キューレコード保持期間（日数）※最小値「1」標準値「7」 -->
    <add key="QueueKeepDays" value="7" />
    <!-- キューレコード削除対象ステータス 01：処理済 02：エラー ※カンマで複数指定可 -->
    <add key="QueueDeleteStatus" value="01,02" />
    <!-- 1度に取得可能な未処理件数 標準値「20」 -->
    <add key="GetQueueCount" value ="20" />
    <!-- スレッド待機時間(ミリ秒) 標準値「3000」 -->
    <add key="ThreadInterval" value="-3000" />
    <!-- 外字変換対象外文字(Unicode)リストファイル名（AP実行時ディレクトリからの相対パス） -->
    <add key="SQ_UNICODE_LIST_FILE" value="UnicodeSQ.txt" />
    <!-- ユーザ登録条件ファイル名（AP実行時ディレクトリからの相対パス） -->
    <add key="AUTHUSER_Report" value="AuthorizeUser_Report.xml" />

    <!-- MRMS設定 -->
    <!-- パスワード変換設定 0：変換なし 1：MD5変換 2：TOUSERSINFO.USERID適用 -->
    <add key="MRMS_CONVERT_MD5" value="1" />
    <!-- 外字変換設定 0：変換なし 1：変換する -->
    <add key="MRMS_CONVERT_GAIJI" value="0" />
    <!-- 外字変換後文字列 -->
    <add key="MRMS_GAIJI_REPLACE" value="■" />

    <!-- USERAPPMANAGE設定値 -->
    <!-- アプリケーション使用許可フラグ設定値 ※固定値を設定しない場合は、空文字を設定して下さい。 -->
    <add key="MRMS_USERAPPMANAGE_LICENCETOUSE" value="" />

	  <!-- ATTRMANAGE設定値 -->
	  <!-- TEXTVALUEデフォルト値 -->
	  <add key="MRMS_ATTRMANAGE_TEXTVALUE_DEFAULT"  value="40" />

	  <!-- USERINFO_CA設定値 -->
    <!-- ATTRIBUTE:ｸﾞﾙｰﾌﾟID（=GROUPMASTER.ID）デフォルト値 -->
    <add key="MRMS_USERINFO_CA_ATTRIBUTE_DEFAULT"  value="-2" />
    <!-- ATTRIBUTE:ｸﾞﾙｰﾌﾟID（=GROUPMASTER.ID）職員区分変換値 ※key末尾文字は職員区分値を設定して下さい。 -->
    <!-- (職員区分は、桁まで合致している必要があります。ToUsersInfo で '01' の場合等、前0を忘れずに入れてください。) -->
    <add key="MRMS_USERINFO_CA_ATTRIBUTE_01"  value="3" />
    <add key="MRMS_USERINFO_CA_ATTRIBUTE_02"  value="4" />
    <add key="MRMS_USERINFO_CA_ATTRIBUTE_03"  value="5" />
    <add key="MRMS_USERINFO_CA_ATTRIBUTE_04"  value="6" />
    <add key="MRMS_USERINFO_CA_ATTRIBUTE_05"  value="7" />
    

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!-- ********** ★★★★★重要★★★★★ ****************************** -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
        <!-- Oracle.DataAccessバージョン設定 -->
        <!-- newVersionには、現地環境のOracle.DataAccessバージョンを設定して下さい。 -->
        <!-- [Oracle.DataAccessバージョン確認方法] -->
        <!-- Oracleインストールディレクトリ\ODP.NET\bin\4にOracle.DataAccess.dllファイルが存在するので -->
        <!-- 右クリック → プロパティ → 詳細 → ファイルバージョン で確認して下さい。 -->
        <bindingRedirect oldVersion="2.112.1.0-4.121.2.0" newVersion="2.112.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
