<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- *****-*****-*****-*****-*****-*****-*****-*****-***** -->
    <!-- ユーザ更新対象DB ※必須設定 -->
    <!-- SERV,REPORT,RIS,THERARIS の中から必要なものを設定する。 -->
    <add key="DB" value="SERV,REPORT,RIS,THERARIS" />
    <!-- 電文マッピングファイルパス(絶対パスで記述) ※必須ファイル -->
    <add key="TelegramMap" value="C:\Users\cosmo\Desktop\higuwork\yokokawa\ka_関東労災病院\svn\trunk\UsersLinkage\StaffLinkage\StaffLinkage\bin\Release\TelegramMap.xml" />
    <!-- Logフォルダ保持期間（日数）※必須設定|最小値「1」, 標準値「7」 -->
    <add key="LogKeepDays" value="7" />
    <!-- 旧字変換設定 ※必須設定-->
    <!-- 旧字変換設定 : [ConvKanji]1:変換する/0:変換しない, 標準値「0」 -->
    <add key="ConvKanji" value="0" />
    <!-- 旧字変換設定 : [ConvKanjiFile]設定ファイルへのパス(絶対パスで記述) -->
    <add key="ConvKanjiFile" value="C:\Users\cosmo\Desktop\higuwork\yokokawa\ka_関東労災病院\svn\trunk\UsersLinkage\StaffLinkage\StaffLinkage\bin\Release\ConvKj.xml" />
    <!-- パスワード変換設定 ※必須設定 -->
    <!-- パスワード変換設定 : [PasswordChange]1:変換する/0:変換しない, 標準値=0 -->
    <add key="PasswordChange" value="1" />
    <!-- 差分取得用制御ファイルパス(絶対パスで記述) ※必須ファイル -->
    <!-- "FROM(yyyyMMdd)-TO(yyyyMMdd)" 更新日付がFORM～TOの該当期間に当てはまるユーザ情報のみ取り込まれる -->
    <!-- 当AP実行後にデフォルト出力="最終実行日(yyyyMMdd)-最終実行日の１年後(yyyyMMdd)" で更新される -->
    <!-- 必要があればAP実行前に手動にて編集も可能 -->
    <add key="UserModymdFile" value="C:\Users\cosmo\Desktop\higuwork\yokokawa\ka_関東労災病院\svn\trunk\UsersLinkage\StaffLinkage\StaffLinkage\bin\Release\UserModymd.txt" />
    <!-- スレッド待機時間（ミリ秒 標準値=3000, 最小値=300～最大値=600000 で指定） -->
    <add key="ThreadInterval" value="10000" />

    <!-- *****-*****-*****-*****-*****-*****-*****-*****-***** -->
    <!--FTP の設定 ※全項目必須設定-->
    <!-- FTP : サーバIP -->
    <add key="FtpIPAdress" value="192.168.100.200" />
    <!-- FTP : ユーザ -->
    <add key="FtpUser" value="ftpuser" />
    <!-- FTP : パスワード -->
    <add key="FtpPassword" value="P@ssw0rd" />
    <!-- FTP : リトライ数 ※標準値=3 (最小値=1～最大値=30 で指定) -->
    <add key="FtpRetryCount" value="3" />
    <!-- FTP : 文字コード ※デフォルト=Shift_JIS (FTPサーバ上に置いてあるファイルの文字コードを指定する) -->
    <add key="FtpEncode" value="Shift_JIS" />
    <!-- FTP : 利用者ファイル連携フォルダ ※パスを記述する場合は「/」を使用 -->
    <!-- 参考設定値 : <add key="FtpFolder" value="krh/利用者ファイル連携" />-->
    <!-- 例えば "//192.168.nnn.nnn/yokogawa/" が規定のFTPフォルダの場合 その下からの "krh/利用者ファイル連携" を記述する />-->
    <add key="FtpFolder" value="sa_さいたま赤十字/利用者ファイル連携" />
    <!-- FTP : 利用者情報ファイル ftpで取得するファイルの名称 -->
    <add key="FtpFile" value="EYBNWGCP.txt" />

    <!-- *****-*****-*****-*****-*****-*****-*****-*****-***** -->
    <!--SQL Loader の設定 ※全項目必須設定-->
    <!-- SQL Loader : DB接続文字列 (登録先) ※user/password@tns -->
    <!--参考設定値 : <add key="SqlldrConnectionString" value="userid=user/password@tns" />-->
    <add key="SqlldrConnectionString" value="userid=krhif/krhif1@VM_SSH_RRIS" />
    <!-- SQL Loader : 結果フォルダ(絶対パスで記述) -->
    <add key="SqlldrFolder" value="C:\Temp\yokoyoko\sa_さいたま赤十字\sqlloader" />
    <!-- SQL Loader : 結果フォルダ保持期間（日数）※最小値「1」, 標準値=7  -->
    <add key="SqlldrFolderKeepDays" value="7" />

    <!-- *****-*****-*****-*****-*****-*****-*****-*****-***** -->
    <!-- 職種コード変換 -->
    <!-- 職員区分デフォルト値 -->
    <add key="DEFAULT" value="04" />
    <!-- 横河職員区分 -->
    <!-- 01:医師　02:技師　03：看護師　04:事務その他　10:看護師参照 -->
    <!-- 01:医師   -->
    <!-- 100:医師 -->
    <add key="100" value="01" />
    <!-- 101:歯科医師 -->
    <add key="101" value="01" />
    <!-- 110:研修医 -->
    <add key="110" value="01" />
    <!-- 111:研修医１年目 -->
    <add key="111" value="01" />
    <!-- 112:研修医２年目 -->
    <add key="112" value="01" />
    <!-- 130:非常勤医師 -->
    <add key="130" value="01" />
    <!-- 140:登録医師 -->
    <add key="140" value="01" />
    <!-- 02:技師 -->
    <!-- 400:放射線技師 -->
    <add key="400" value="02" />
    <!-- 410:医学物理士 -->
    <add key="410" value="02" />
    <!-- 03：看護師 -->
    <!-- 200:看護師 -->
    <add key="200" value="03" />
    <!-- 201:准看護師 -->
    <add key="201" value="03" />
    <!-- 202:看護助手 -->
    <add key="202" value="03" />
    <!-- 203:助産師 -->
    <add key="203" value="03" />
    <!-- 204:保健師 -->
    <add key="204" value="03" />
    <!-- 210:看護師（Ｍ） -->
    <add key="210" value="03" />
    <!-- 230:内視鏡看護師 -->
    <add key="230" value="03" />
    <!-- 250:手術部看護師 -->
    <add key="250" value="03" />
    <!-- 04:事務その他 -->
    <!-- 150:医学生 -->
    <add key="150" value="04" />
    <!-- 206:保育士 -->
    <add key="206" value="04" />
    <!-- 208:介護福祉士 -->
    <add key="208" value="04" />
    <!-- 300:臨床検査技師 -->
    <add key="300" value="04" />
    <!-- 350:臨床工学士 -->
    <add key="350" value="04" />
    <!-- 360:言語聴覚士 -->
    <add key="360" value="04" />
    <!-- 370:視能訓練士 -->
    <add key="370" value="04" />
    <!-- 380:心理判定員 -->
    <add key="380" value="04" />
    <!-- 390:歯科衛生士 -->
    <add key="390" value="04" />
    <!-- 500:薬剤師 -->
    <add key="500" value="04" />
    <!-- 510:薬剤師化学療法 -->
    <add key="510" value="04" />
    <!-- 550:薬剤助手 -->
    <add key="550" value="04" />
    <!-- 600:リハビリ技師 -->
    <add key="600" value="04" />
    <!-- 610:デイケア技師 -->
    <add key="610" value="04" />
    <!-- 700:栄養士 -->
    <add key="700" value="04" />
    <!-- 800:医療ソーシャルワーカー -->
    <add key="800" value="04" />
    <!-- 900:事務職Ａ -->
    <add key="900" value="04" />
    <!-- 910:事務職Ｂ -->
    <add key="910" value="04" />
    <!-- 920:事務職Ｃ -->
    <add key="920" value="04" />
    <!-- 930:診療助手 -->
    <add key="930" value="04" />
    <!-- 940:事務職Ｄ -->
    <add key="940" value="04" />
    <!-- 950:医療秘書 -->
    <add key="950" value="04" />
    <!-- 960:地域医療連携 -->
    <add key="960" value="04" />
    <!-- 998:富士通ＳＥ -->
    <add key="998" value="04" />
    <!-- 999:システム管理者 -->
    <add key="999" value="04" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <!-- ********** ★★★★★重要★★★★★ ****************************** -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
        <!-- Oracle.DataAccessバージョン設定 -->
        <!-- newVersionには、現地環境のOracle.DataAccessバージョンを設定して下さい。 -->
        <!-- [Oracle.DataAccessバージョン確認方法] -->
        <!-- Oracleインストールディレクトリ\ODP.NET\bin\4にOracle.DataAccess.dllファイルが存在するので -->
        <!-- 右クリック → プロパティ → 詳細 → ファイルバージョン で確認して下さい。 -->
        <bindingRedirect oldVersion="2.112.1.0-4.121.2.0" newVersion="2.112.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>